body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; /* Adjust as needed */
  font-family: Arial, sans-serif; /* Optional: Choose your preferred font */
  text-align: center;
}

.App {
  text-align: center;
}

.MuiTextField-root
.MuiButtonBase-root,
.MuiButton-root {
  width: 200px; 
  height: 56px;
  margin: 20px;
  padding: 20px;
}

.input {
  height: 300px;
}

.output { 
  height: 300px;
}